<!DOCTYPE html>
<html>
<head>
    <title>MNIST Image Classifier</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='webstyle.css') }}">
</head>
<body>
    <h1>MNIST Image Classifier</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*">
        <input type="submit" value="Upload and Classify">
    </form>
    <h2>Classification Result:</h2>
    <p id="result"></p>
    <script>
        const resultElement = document.getElementById("result");

        document.querySelector('form').addEventListener('submit', async (e) => {
            e.preventDefault();

            const formData = new FormData();
            formData.append('image', e.target.image.files[0]);

            const response = await fetch('/classify', {
                method: 'POST',
                body: formData
            });

            const data = await response.json();
            resultElement.textContent = `Predicted class: ${data.prediction}`;
        });
    </script>
</body>
</html>